@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background: hsl(202, 36%, 19%);
}

@media (max-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 128px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 360px;
    margin-bottom: 48px;
  }
}

.header-title {
  color: hsl(0, 0%, 80%);
  font-size: 32px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.header-links {
  color: hsl(0, 0%, 80%);
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header-right {
  align-self: center;
}

.main-container {
  color: hsl(0, 0%, 80%);
  display: flex;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.settings-title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 25px;
}

.settings-colour-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 50px;
}

.settings-slider-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 15px;
}

.settings-slider {
  width: 100px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 500px;
  height: 500px;
  border: 1px solid hsl(0, 0%, 70%);
}

.grid-item {
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 40%);
}

.grid-item-hover {
  opacity: 70%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
